<template>

    <div>
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons">



        <md-card md-with-hover v-for='(note, key) in notes' :key="key" >
            <md-card-header>
                <div class="md-title">{{ note.name }}</div>
            </md-card-header>

            <md-card-content>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio itaque ea, nostrum odio. Dolores, sed
                accusantium quasi non.
            </md-card-content>

            <md-card-actions>
                <router-link tag="md-button" class="md-raised md-primary" :to="{ name: 'Note', params: {id: note.uuid } }">Edit</router-link>
                <md-button  class="md-raised" disabled>Archive</md-button>
                <md-button class="md-raised md-accent" @click="remove(note.uuid)">&times;</md-button>
            </md-card-actions>
        </md-card>

    </div>
</template>

<style lang="scss" scoped>
    .md-card {
        width: 320px;
        margin: 4px;
        display: inline-block;
        vertical-align: top;
    }
    small {
        display: block;
    }
</style>



<script>

    // import store from '../store/index.js'
    import NodeClass from '../models/NoteClass'

    export default {
        name: 'RegularCards',
        data (){
            return {
                errors: [],
                /*note: {
                    name: '',
                    status: 'new'
                },*/
                note: new NodeClass(),
            }
        },

        methods:{
            checkForm:function(e) {
                this.errors = [];

                if(this.note) {
                    // console.log(new NodeClass());
                    /*const note = {
                        status: 'new',
                        name: this.note,
                    }*/
                    this.$store.dispatch('addNote', this.note)
                    //this.errors.length = 0;
                    //this.note = {};
                    this.note = new NodeClass();
                    return true;
                }

                if(!this.note) this.errors.push("Требуется заполнить поле.");
                e.preventDefault();
            },
            remove : function(deleteIndex) {
                // console.log(deleteIndex);
                this.$store.dispatch('delNote', deleteIndex)
            }
        },
        computed: {
            notes: function (url) {
                return this.$store.getters.getNotesArchived;
            }
        }
    }
</script>
