<template>
    <div>
        <input class="start-input" @focus="show = true" v-show="!show">
        <div v-show="show">
            <form @submit.prevent="checkForm" class="form-center">
                <div>
                    <md-field md-inline>
                        <label>Inline</label>
                        <md-input v-model="note.name"></md-input>
                    </md-field>
                    <md-field>
                        <label>Textarea</label>
                        <md-textarea v-model="note.text"></md-textarea>
                    </md-field>
                    <div>

                        <md-button class="md-primary" v-on:click="show = false">Сancel</md-button>
                        <md-button type="submit" class="md-accent">Save</md-button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>
<style>
    .start-input {
        padding: 10px;
        font-size: 20px;
        border: 2px solid rgba(255, 255, 255, 0.5);
        -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25) inset, 0 2px 10px rgba(0, 0, 0, 0.25);
        -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25) inset, 0 2px 10px rgba(0, 0, 0, 0.25);
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25) inset, 0 2px 10px rgba(0, 0, 0, 0.25);
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.5);
        -moz-appearance: none;
        -webkit-appearance: none;
        outline: none;
        color: #333;
        width: 50%;
        margin-bottom: 20px;
        left: 25%;
        top: 35%;
    }
    .form-center {
        width: 50%;
        margin: 0 auto;
    }
</style>
<script>

    import NodeClass from '../models/NoteClass'

    export default {
        name: "Search",
        data() {
            return {
                show: false,
                note: new NodeClass(),
            }
        },
        methods: {
            checkForm: function (e) {
                this.errors = [];
                if (this.note) {
                    this.$store.dispatch('addNote', this.note)
                    this.show = false
                    this.note = new NodeClass();
                    return true;
                }

                if (!this.note) this.errors.push("Требуется заполнить поле.");
                e.preventDefault();
            },

        }
    }

</script>


