<template>
    <div class="drag-block">
    </div>
</template>

<style lang="scss" scoped>

    .drag-block {

        box-sizing: border-box;
        display: inline-block;
        border-radius: 10px;
        width: 120px;
        height: 150px;
        background: rgba(154, 154, 154, 0.98);
        vertical-align: middle;
        margin-right: 20px;
        position: relative;
        padding: 5px;
        padding-top: 35px;
        text-align: center;
        margin: 3px;
    }

</style>

