<template>
    <div class="drag-control-block" v-show="show">
        <div v-for="(block, key) in dragControlBlocks" :key="key"
              class="show-control-block"
              v-bind:class="[ block.block, { active: currentTypeBlock === block.value }]"
              @dragenter="onDragEnterChild(block)"
              @dragleave="dragLeave(block, ...arguments)"
        ></div>

    </div>
</template>

<style lang="scss" scoped>

    .drag-control-block {
        opacity: 0.5;
        filter: alpha(Opacity=50);
    }

    .drag-control-left {
        width: 33.33%;
        background: linear-gradient(to left, #ffffff 40px, #f12a09);
        position:absolute;z-index:999;
    }

    .drag-control-center {
        width: 33.33%;
        left: 33.33%;
        background: radial-gradient(#f12a09 1%, #ffffff 60px  );
    }

    .drag-control-right {
        width: 33.33%;
        right: 0;
        background: linear-gradient(to right, #ffffff 40px, #f12a09);
    }

    .show-control-block {
        opacity: 0;
        position: absolute;
        height: 100%;
    }

    .show-control-block.active {
        opacity: 1;
    }

</style>

<script>
    export default {
        name: 'DragControlBlock',
        data: function () {
            return {
                dragControlBlocks: [
                    {block: 'drag-control-left', value: 'left'},
                    {block: 'drag-control-center', value: 'center'},
                    {block: 'drag-control-right', value: 'right'},
                ],
                currentTypeBlock: '',
                leaveTypeBlock: '',
            }
        },
        props: {
            show: {},
        },
        methods: {
            onDragEnterChild: function (block) {
                this.currentTypeBlock = block.value;
                this.$emit('currentTypeBlock', this.currentTypeBlock);
            },
            dragLeave: function (block, data, event) {
                this.leaveTypeBlock = block.value;
                if(this.currentTypeBlock === this.leaveTypeBlock){
                    this.currentTypeBlock = ''
                }
            },

        },
    }

</script>

