<template>

    <div>
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons">

        <search @search="onSearch"/>

        <create-note/>

        <notes :search = search />



    </div>
</template>

<style lang="scss" scoped>

    [type="checkbox"]:checked + label .text {
        text-decoration: line-through;
    }

    .decoration {
        text-decoration: line-through;
    }

    .backgroundElement {
        pointer-events: none
    }

    //global style
    .md-card {
        width: 320px;
        height: 100%;
        margin: 4px;
        display: inline-block;
        vertical-align: top;
    }

    .list {
        list-style-type: none;
    }

    .decoration {
        text-decoration: line-through
    }

    .md-card-actions {
        display: inline;
    }

    .white {
        background: white;
    }

    .lightgreen {
        background: lightgreen;
    }

    .skyblue {
        background: skyblue;
    }

    //


</style>

<script>

    import NodeClass from '../models/NoteClass'
    import CreateNote from '@/components/create-note.vue'

    export default {
        name: 'RegularCards',
        data() {
            return {
                errors: [],
                note: new NodeClass(),
                status: '',
                draggableNote: null,
                targetNote: null,
                showNoteId: null,
                currentTypeBlock: '',
                show: false,
                search: {},
            }
        },

        methods: {
            deleteListNote(noteList, note, key) {
                var listTextNote = this.formatList(note)
                listTextNote.splice(key, 1);
                note.text = listTextNote.join("\n");
            },

            formatList(note) {
                if (note.text) {
                    var re = /\n/
                    return note.text.split(re);
                }
            },

            setFormat(note) {
                note.list = !note.list
                this.$store.dispatch('formatList', note)
            },

            onSearch(data) {
               // console.log(data)
                this.search = data
            },

            onDragStart: function (note, data, event) {
                this.draggableNode = note
            },

            onDragEnter: function (note, data, event) {
                if (this.draggableNode.order != note.order) {
                    this.showNoteId = note.uuid;
                } else {
                    this.showNoteId = null;
                }
            },

            dropBlockType: function (block) {
                this.currentTypeBlock = block
            },

            onDragDrop: function (note, data, event) {
                this.targetNote = note;
                let notes = this.$store.getters.getNotes;
                let draggableIndex = notes.indexOf(this.draggableNode)
                let targetIndex = notes.indexOf(this.targetNote)

                if (this.currentTypeBlock === 'left') {
                    targetIndex = targetIndex - 1
                }

                if (this.currentTypeBlock === 'center') {
                    [notes[draggableIndex], notes[targetIndex]] = [notes[targetIndex], notes[draggableIndex]]
                } else {
                    notes.splice(draggableIndex, 1)
                    notes.splice(targetIndex, 0, this.draggableNode)
                }

                if (this.targetNote.order != this.draggableNode.order) {
                    this.$store.dispatch('reorder', notes)
                }

                this.showNoteId = null;
            },
            remove: function (deleteIndex) {
                this.$store.dispatch('delNote', deleteIndex)
            }
        },

        components: {
            'create-note': CreateNote,
        }
    }
</script>

