<template>

    <div>
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons">

        <md-card md-with-hover v-bind:style="{background : noteOne.color}">

            <div style="padding: 20px">

                <md-field md-inline>
                    <label>Пустая заметка</label>
                    <md-input v-model="noteOne.name"
                              v-note-focus
                              @blur="doneEdit(noteOne)"></md-input>
                </md-field>

                <md-field>
                    <label>Textarea</label>
                    <md-textarea v-model="noteOne.text"
                                 @blur="doneEdit(noteOne)"
                    ></md-textarea>
                </md-field>

                <md-card-actions>
                    <md-button class="md-raised md-primary" to="/">Home</md-button>
                    <md-button class="md-raised" @click="addArchive(noteOne)">Archive</md-button>
                    <md-button class="md-raised md-accent" @click="remove(noteOne)">&times;</md-button>
                </md-card-actions>

                <div class="md-layout-item">
                    <md-field>
                        <label>Color</label>
                        <md-select v-model="noteOne.color" id="color">
                            <md-option v-for="(color,key) in this.$store.state.colors"
                                       :key="key"
                                       v-bind:value="color.name.toLowerCase()"
                                       v-bind:style="{background : color.name.toLowerCase()
                                       }">
                                {{color.name}}
                            </md-option>
                        </md-select>
                    </md-field>
                </div>

            </div>
        </md-card>

    </div>
</template>

<style lang="scss" scoped>
    .md-card {
        width: 320px;
        margin: 4px;
        display: inline-block;
        vertical-align: top;
    }

</style>

<script>

    import 'iview/dist/styles/iview.css';

    export default {
        name: 'RegularCards',
        data() {
            return {
                errors: [],
                noteOne: null,
                url: this.$route.params.id,
            }
        },

        created: function () {
            this.noteOne = this.$store.getters.getNote(this.url);
        },

        methods: {
            addArchive: function (noteOne) {
                noteOne.status = 'archived';
                console.log(noteOne);
            },
            doneEdit: function (noteOne) {
              //  noteOne.name = noteOne.name.trim()
                 this.$store.dispatch('noteEdit', noteOne)
            },

        },
        directives: {
            'note-focus': {
                inserted: el =>
                    // Переключаем фокус на элемент

                    el.focus()

            }
        }
    }
</script>
