<template>
    <div>
        <drop class="md-card md-with-hover my drop"
              v-for='(note, key) in search'
              :key="key"
              :id=note.uuid
              @dragenter="onDragEnter(note, ...arguments)"
              v-bind:class="note.color"
        >

            <drag class="drag"
                  @dragstart="onDragStart(note, ...arguments)"
                  :image-x-offset=100
                  :image-y-offset=100

            >
                <div slot="image">
                    <img src="@/assets/note.png" alt="">
                </div>

                <drop @drop="onDragDrop(note, ...arguments)">
                    <drag-control-block :show="showNoteId === note.uuid" @currentTypeBlock="dropBlockType"/>
                </drop>

                <div :class="[{ backgroundElement: showNoteId === note.uuid }]">
                    <md-card-header>
                        <md-card-header-text>
                            <div class="md-title">{{ note.name }}</div>
                        </md-card-header-text>

                        <md-menu md-size="big" md-direction="bottom-end">
                            <md-button class="md-icon-button" md-menu-trigger>
                                <md-icon>more_vert</md-icon>
                            </md-button>

                            <md-menu-content>
                                <md-menu-item v-show="note.list" @click="setFormat(note)">
                                    <span>Text</span>
                                    <md-icon>format_size</md-icon>
                                </md-menu-item>

                                <md-menu-item v-show="!note.list" @click="setFormat(note)">
                                    <span>List</span>
                                    <md-icon>list</md-icon>
                                </md-menu-item>

                            </md-menu-content>
                        </md-menu>
                    </md-card-header>

                    <md-card-content v-if="note.list === true">
                        <ul class="list">
                            <md-list-item v-for='(noteList, key) in formatList(note)'
                                          :key="key">
                                <md-checkbox :id="note.uuid" :value="key"
                                             v-model="note.itemList"/>
                                <span :for="note.uuid" class="md-list-item-text"
                                      v-bind:class="{ decoration: note.itemList === key }">
                                    {{noteList}}</span>

                                <md-button v-show="note.itemList === key"
                                           class="md-icon-button md-dense md-raised md-primary"
                                           @click="deleteListNote(noteList, note, key)">
                                    <md-icon>delete</md-icon>
                                </md-button>

                            </md-list-item>
                        </ul>
                    </md-card-content>

                    <md-card-content v-if="note.list === false">
                        <p style="white-space: pre-wrap;"
                        >{{ note.text}}</p>
                    </md-card-content>

                    <md-card-actions md-alignment="left">
                        <router-link tag="md-button" class="md-raised md-primary"
                                     :to="{name: 'Note', params: {id: note.uuid }}">Edit
                        </router-link>
                        <md-button class="md-raised" disabled>Archive</md-button>
                        <md-button class="md-raised md-accent" @click="remove(note.uuid)">&times;</md-button>
                    </md-card-actions>
                </div>

            </drag>

        </drop>

    </div>
</template>
<style lang="scss" scoped>
    [type="checkbox"]:checked + label .text {
        text-decoration: line-through;
    }

    .decoration {
        text-decoration: line-through;
    }

    .backgroundElement {
        pointer-events: none
    }

    // global style
      .md-card {
          width: 320px;
          height: 100%;
          margin: 4px;
          display: inline-block;
          vertical-align: top;
      }

    .list {
        list-style-type: none;
    }

    .decoration {
        text-decoration: line-through
    }

    .md-card-actions {
        display: inline;
    }

    .white {
        background: white;
    }

    .lightgreen {
        background: lightgreen;
    }

    .skyblue {
        background: skyblue;
    }
</style>
<script>
    import NodeClass from '../models/NoteClass'
    export default {
        name: 'RegularCards',
        data() {
            return {
                errors: [],
                note: new NodeClass(),
                status: '',
                draggableNote: null,
                targetNote: null,
                showNoteId: null,
                currentTypeBlock: '',
                show: false,

                searchColor: '',
                typeNotes: '',
                searchM: {},
            }
        },

        props: {
            search: {},
        },

        created() {
            this.searchM = this.search
          //  console.log(this.searchM)
        },

        methods: {
            deleteListNote(noteList, note, key) {
                var listTextNote = this.formatList(note)
                listTextNote.splice(key, 1);
                note.text = listTextNote.join("\n");
            },

            formatList(note) {
                if (note.text) {
                    var re = /\n/
                    return note.text.split(re);
                }
            },

            setFormat(note) {
                note.list = !note.list
                this.$store.dispatch('formatList', note)
            },

            onTextType(data) {
                this.typeNotes = data
            },

            onDragStart: function (note, data, event) {
                this.draggableNode = note
            },

            onDragEnter: function (note, data, event) {
                if (this.draggableNode.order != note.order) {
                    this.showNoteId = note.uuid;
                } else {
                    this.showNoteId = null;
                }
            },

            dropBlockType: function (block) {
                this.currentTypeBlock = block
            },

            onDragDrop: function (note, data, event) {
                this.targetNote = note;
                let notes = this.$store.getters.getNotes;
                let draggableIndex = notes.indexOf(this.draggableNode)
                let targetIndex = notes.indexOf(this.targetNote)

                if (this.currentTypeBlock === 'left') {
                    targetIndex = targetIndex - 1
                }

                if (this.currentTypeBlock === 'center') {
                    [notes[draggableIndex], notes[targetIndex]] = [notes[targetIndex], notes[draggableIndex]]
                } else {
                    notes.splice(draggableIndex, 1)
                    notes.splice(targetIndex, 0, this.draggableNode)
                }

                if (this.targetNote.order != this.draggableNode.order) {
                    this.$store.dispatch('reorder', notes)
                }

                this.showNoteId = null;
            },
            remove: function (deleteIndex) {
                this.$store.dispatch('delNote', deleteIndex)
            }
        },
        watch: {
            search: function () {
                console.log(this.search)
            }
        }
    }

</script>


