<template>
    <div>
        <md-field>
            <label>Search</label>
            <md-input v-model="searchText" v-on:input="changeTextSearch"></md-input>
        </md-field>
        <div>
            <button v-for="(color,key) in this.$store.state.colors"
                    :key="key"
                    :style="{background: color.name}"
                    :class="{ leave: showLeave === key,  activeButton: showActive === key }"
                    @mouseenter="mouseEnter(key)"
                    @mouseleave="mouseLeave(key)"
                    @click="clickColor(color,key)"
            ></button>

            <md-button class="md-fab md-mini" v-show="isClearButton" @click="clearColorFilter">
                <md-icon>clear</md-icon>
            </md-button>

        </div>

        <md-switch v-model="typeList"  @change="changeTextType">Type list</md-switch>



    </div>
</template>
<style>
    button {

        border: 1px solid #c2c2c2;
        width: 40px;
        height: 40px;
        border-radius: 30px;
        margin: 5px;
    }

    .leave {
        border: 1px solid #7a7a7a;
    }

    .activeButton {
        border: 1px solid #f1494c;
    }

</style>
<script>
    export default {
        name: "Search",
        data() {
            return {
                searchText: '',
                showActive: '',
                showLeave: '',
                isClearButton: false,
                typeList: false,
                searchColor: ''
            }
        },
        computed: {
            filteredNotes() {
                if (!this.searchColor) {
                    this.searchColor = ''
                }

                let searchColor = this.$store.getters.getNotes.filter(note => {
                    return note.color.toLowerCase().includes(this.searchColor.toLowerCase())
                })

                var searchType = this.$store.getters.getNotes;
                if (this.typeList) {
                    var searchType = this.$store.getters.getNotes.filter(note => {
                        return note.list
                    })
                }

                const names = this.$store.getters.getNotes
                    .filter(note => {
                        return note.name.toLowerCase().includes(this.searchText.toLowerCase())
                    })

                const uids = names.map(name => name.uuid)

                const texts = this.$store.getters.getNotes
                    .filter(note => {
                        return note.text.toLowerCase().includes(this.searchText.toLowerCase()) && !uids.includes(note.uuid)
                    })

                var searchNotes = [
                    ...names,
                    ...texts,
                ]

                //    console.log(_.intersection(searchNotes, searchColor, searchType))

                //пересечение Lodash
                return _.intersection(searchNotes, searchColor, searchType);
            }
        },
        created() {
            this.$emit('search', this.filteredNotes)
        },

        methods: {
            changeTextSearch() {
                this.$emit('search', this.filteredNotes)
            },
            clickColor(color, key) {
                this.isClearButton = true
                this.showActive = key
                this.searchColor = color.name
                this.$emit('search', this.filteredNotes)
            },
            clearColorFilter() {
                this.isClearButton = false
                this.showActive = ''
                this.searchColor = false
                this.$emit('search', this.filteredNotes)
            },
            changeTextType(){
                this.$emit('search', this.filteredNotes)
            },
            mouseEnter(key) {
                this.showLeave = key
            },
            mouseLeave(key) {
                this.showLeave = ''
            }
        },
        watch:{
            filteredNotes: function () {
               // console.log(this.filteredNotes)
            }
        }
    }

</script>


