<template>
  <div id="app">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons">

    <div class="page-container">
      <md-app>
        <md-app-drawer md-permanent="clipped">

          <md-list>
            <md-list-item>
              <md-icon>home</md-icon>
              <md-button class="md-list-item-text" to="/" >HOME</md-button>
            </md-list-item>

            <md-list-item>
              <md-icon>move_to_inbox</md-icon>
              <md-button class="md-list-item-text" to="/archive" >ARCHIVE</md-button>
            </md-list-item>

            <md-list-item>
              <md-icon>delete</md-icon>
              <md-button class="md-list-item-text" to="/delete" >delete</md-button>
            </md-list-item>

          </md-list>
        </md-app-drawer>

        <md-app-content>

          <router-view/>
        </md-app-content>
      </md-app>
    </div>
  </div>
</template>
<script>
export default {
  name: 'App',
    data () {
        return {
            searchNote: [],
            /*note: {
                name: '',
                status: 'new'
            },*/

        }
    },

}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
 /* margin-top: 60px; */
}

.md-toolbar.md-theme-default.md-primary {
  background-color: #f1ecec;
}

.md-toolbar.md-theme-default.md-primary .md-title  {
  color: #de3131;
}
</style>
